# Dependencias
node_modules/

# Compilación
dist/
dist-app/
out/

# IDEs
.vscode/
.idea/

# Variables de entorno (SEGURIDAD)
.env
*.env
datos.txt

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
Thumbs.db
.DS_Store
