@import "tailwindcss";

@theme {
  --color-fluent-bg: #f3f3f3;
  --color-fluent-sidebar: rgba(243, 243, 243, 0.7);
  --color-fluent-accent: #0078d4;
  --color-fluent-border: rgba(0, 0, 0, 0.1);
  --backdrop-blur-xs: 2px;
}
